.checkeable input{
    display: none;
}

.checkeable img{
    width: 400px;
    border: 5px solid ;
}
.checkeable input:checked+img{
    border-color: rgb(20, 219, 170);
}
.imagen:hover {filter: opacity(.5);}